* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.header {
	position: relative;
}

li {
	display: inline-block;

}

.header__nav-container {
	padding: 30px 0 30px 50px;
}

.header__home,
.header__about,
.header__dropdown {
	padding: 0 10px;
	text-transform: uppercase;
	border-right: 0.5px solid;
	border-color: #230846;
}

.header__dropdown:last-child {
	border-right: none;
}


.header__home-page,
.header__about-us,
.header__dropbutton {
	color: #230846;
	font-family: Courier New, monospace;
	font-weight: lighter;
	font-size: 17px;
}


.header__dropdown-content {
	display: none;
	position: absolute;
	padding-top: 10px;
	background-color: white;
	box-shadow: 3px 3px 3px 0.5px rgba(0,0,0,0.3);
	border-top: none;
	width: 150px;
}

.header__dropdown:hover .header__dropdown-content {
	display: block;
	z-index: 1;
}

.header__drop-item {
	display: block;
	padding: 7px 10px;
	color: #230846;
	font-family: Courier New, monospace;
	font-weight: lighter;
	font-size: 17px;
}

.header__drop-item:hover {
	background-color: #b094d4;
}

.intro {
	background-image: url("img/eggpant.jpg");
	position: relative;
	width: 100%;
	height: 330px;
	opacity: 0.8;
	margin: 0 auto;
	transition: all 1s ease;
}

.intro:hover {
	opacity: 1;
}

.intro__content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -150%);
	font-family: 'Abril Fatface', cursive;
	font-size: 50px;
	font-weight: normal;
	line-height: 1;
	color: #f2f729;
	transition: all 5s ease;
}
	
.intro:hover .intro__content {
	animation: color 4s linear infinite;
}

@keyframes color {
	0% {color: #f2f729;}

	40% {color: #403b61;}

	45% {opacity: 0;}

	100% {color: #f2f729;}
}


.interest {
	position: relative;

}

.interest__title {
	padding: 60px 0;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Kaushan Script', cursive;
	font-size: 30px;
	font-weight: lighter;
	color: #230846;

}

.interest__container {
	display: flex;
	width: 80%;
	margin: 0 auto;
}


.interest__step {
	padding: 40px 60px;
	text-align: center;
	font-size: 17px;
	font-family: Courier New, monospace;
	line-height: 1.5;
	color: #230846;
}

.interest__image {
	width: 150px;
	height: 150px;
	display: block;
	margin: 0 auto;
	transition: all 1.5s ease;
}

.interest__image:hover {
	transform: rotate(360deg);
}

